.text-title{
    position: absolute;
    width: 580px;
    height: 128px;
    margin-left: 120px;
    margin-top: 179px;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle{
    position: absolute;
    width: 612px;
    height: 216px;
    margin-left: 120px;
    margin-top: 331px;
    margin-bottom: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774
}