.main-nav {
    position: absolute;
    height: 62px;
    width: 1440px;
    background: #1890FF;   
    left: 0px;
    top: 0px;
}

.text-nav{
    width: 248px;
    margin-left: 41px;
    display: flex;
    align-items: center;
    color: #FFF;
   
}

.nav-logo-text{
    color:#FFF; 
}